body {
  font: 18px/1.5 Public Sans;
  padding: 0;
  margin: 0;
}

/* Global */
.container {
  margin: auto;
}

button {
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  width: 8vw;
  height: 5vh;
  border: 0;
  border-radius: 2vw;
}

button:hover {
  cursor: pointer;
  color: white;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 0;
  color: hsl(233, 26%, 24%);
}

h2 {
  font-size: 2.75rem;
  font-weight: 400;
  margin-bottom: 0;
  color: hsl(233, 26%, 24%);
}

h3 {
  font-size: 1.75rem;
  font-weight: 300;
}

h4 {
  font-weight: normal;
  color: hsl(233, 26%, 24%);
  width: 12vw;
}

h6 {
  font-size: 0.75rem;
  color: hsl(233, 8%, 62%);
  font-weight: normal;
}

p {
  margin-top: 0;
  color: hsl(233, 8%, 62%);
}

/*Header*/
header {
  background-color: white;
  padding: 2vh;
}

header .hamburger {
  display: none;
}

header .container .normal {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .normal ul {
  margin: 0;
  padding: 0;
}

header .container .normal li {
  display: inline;
  padding: 0 1vw 0 1vw;
  border-bottom-style: solid;
  padding-bottom: 3vh;
  border-bottom-color: white;
}

header .container .normal li:hover {
  cursor: pointer;
  border-bottom-color: hsl(136, 65%, 51%);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Showcase*/
#showcase {
  height: 80vh;
  overflow-x: clip;
  overflow-y: clip;
  background: url("./images/bg-intro-desktop.svg") no-repeat, hsl(0, 0%, 98%);
  background-position-x: 55vw;
  background-position-y: -27.5vh;
}

#showcase .container {
  padding-top: 15vh;
  width: 25%;
  margin-left: 13vw;
}

#showcase img {
  position: relative;
  left: 65vw;
  top: -65vh;
}
/*Article*/
#article {
  background-color: hsl(220, 16%, 96%);
  margin-bottom: 0;
}
#article #details {
  padding-top: 10vh;
  padding-left: 13vw;
  margin-top: -10rem;
  padding-right: 57.5rem;
  margin-bottom: 0;
}

#article #boxes .box {
  width: 22%;
}

#article #boxes .container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

#article #boxes {
  padding-left: 15rem;
  padding-right: 15rem;
}

/*News*/
#news {
  margin-top: 0;
  padding-top: 2.5rem;
  background-color: hsl(0, 0%, 98%);
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 5rem;
}
#news .articles {
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

#news .articles .newsarticle {
  width: 16vw;
  background-color: white;
}

#news .articles .newsarticle:hover {
}
#news .articles img {
  border-radius: 0.25rem;
  width: 16vw;
  height: 12rem;
}

/*Footer*/
footer {
  margin: 0;
  background-color: hsl(233, 26%, 24%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
footer .allOptions {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}
footer .logos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer .options {
  color: white;
  font-size: 0.8vw;
  display: flex;
  gap: 5vw;
  justify-content: space-between;
}

footer .allOptions .logos #social img:hover {
  filter: invert(67%) sepia(23%) saturate(3718%) hue-rotate(72deg)
    brightness(99%) contrast(83%);
}

footer ul {
  list-style: none;
}

footer li {
  padding-bottom: 1.5vh;
}

footer #credits {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer #credits button {
  align-self: flex-end;
}

footer li:hover {
  cursor: pointer;
  color: hsl(136, 65%, 51%);
}

@media all and (max-width: 550px) {
  p {
    font-size: 4.1vw;
    padding: auto;
    margin: auto;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    line-height: 1.2;
    font-size: 9.5vw;
    margin-bottom: 2vh;
  }

  h3 {
    font-size: 5vw;
    padding-left: 0;
  }

  h4 {
    font-size: 4vw;
    width: 70vw;
    text-align: left;
    margin: 2vw 17.5vw 0 12.5vw;
  }

  h6 {
    font-size: 2.75vw;
    text-align: left;
    margin: 2.5vh 17.5vw 0 12.5vw;
  }

  button {
    width: 40vw;
    border-radius: 10vw;
    color: white;
    margin-top: 3.5vh;
    font-weight: 400;
  }

  header .container .normal {
    display: none;
  }

  header .container .hamburger {
    display: block;
  }

  header .container .hamburger li {
    display: inline;
    padding: 0 1vw 0 1vw;
  }

  header .container .hamburger ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 0;
    text-align: center;
  }

  header .container .hamburger nav {
    position: absolute;
    height: 25vh;
    width: 90vw;
    left: 5vw;
    top: 7vh;
    z-index: 1;
    background-color: white;
  }

  #mobile {
    display: none;
  }

  #mobile + label {
    background: url("./images/icon-hamburger.svg") no-repeat;
    height: 2vh;
    width: 5vw;
    display: block;
    transition: 0.3s all;
  }

  #mobile:checked ~ nav {
    display: flex;
    flex-direction: column;
  }

  #mobile ~ nav {
    display: none;
  }

  #mobile:checked + label {
    background: url("./images/icon-close.svg");
    width: 5vw;
    height: 2vh;
    display: block;
    transition: 0.3s all;
  }

  #showcase {
    background: url("./images/bg-intro-mobile.svg") no-repeat;
    background-position-y: -5vh;
    height: 85vh;
  }

  #showcase img {
    width: 100vw;
    left: 0vw;
    top: -65vh;
  }

  #showcase .container {
    position: relative;
    top: 25vh;
    margin: 0;
    width: 100vw;
    text-align: center;
    z-index: 1;
  }

  #article #details {
    padding-top: 5vh;
    margin-top: 0;
    text-align: center;
    width: 100vw;
    margin-left: 0;
    padding-left: 0;
  }

  #article #boxes {
    padding-left: 0;
    padding-right: 0;
  }

  #article #boxes .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5vh;
  }

  #article #boxes .box {
    align-self: center;
    text-align: center;
    width: 90vw;
    margin-bottom: 5vh;
  }

  #article #boxes p {
    font-size: 4vw;
  }

  #news {
    padding-left: 0;
    padding-right: 0;
  }

  #news .container {
    text-align: center;
  }

  #news .articles {
    flex-direction: column;
    gap: 3vh;
  }

  #news .articles .newsarticle {
    width: 90vw;
    align-self: center;
  }

  #news .container .newsarticle img {
    width: 90vw;
  }

  #news .container .newsarticle p {
    font-size: 3.2vw;
    margin: 1vh 17.5vw 7.5vh 12.5vw;
    text-align: left;
  }

  footer {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
  }

  footer .allOptions {
    margin-top: 5vh;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;
    justify-content: space-evenly;
  }

  footer .allOptions .logos {
    gap: 2.5vh;
    justify-content: space-evenly;
  }

  footer .allOptions .logos #logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .allOptions .logos #social {
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
  }

  footer .allOptions .options {
    flex-direction: column;
    gap: 0;
    margin-bottom: -10vh;
  }

  footer .allOptions .options ul {
    margin: 0 45vw 0 35vw;
  }

  footer .allOptions .options li {
    text-align: center;
    font-size: 2.5vw;
    width: 30vw;
    margin-bottom: 5vw;
  }
  footer #credits {
    height: 20vh;
    justify-content: space-evenly;
  }

  footer #credits button {
    margin-top: 6vh;
    align-self: center;
  }
} ;
